<section>
  <div class="page-header">
    <h1><small>{{vm.medicalrecord._id ? 'Rekam Medis' : 'Rekam Medis Baru'}}</small><br/>{{vm.medicalrecord.patient.name}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.medicalrecordForm" class="form-horizontal" ng-submit="vm.save(vm.form.medicalrecordForm.$valid)" novalidate>
      <fieldset>
        <legend>Status Neurologikal Pasien</legend>
        <div class="form-group" show-errors>
          <label class="col-md-2" for="cgs">Kesadaran CGS</label>
          <div class="col-md-2">
            <input id="cgs" name="cgs" ng-model="vm.medicalrecord.neurologic.cgs" placeholder="CGS" class="form-control input-md" />
          </div>
          <!--<div ng-messages="vm.form.medicalrecordForm.neurologic.cgs.$error" role="alert">-->
            <!--<p class="help-block error-text" ng-message="required">CGS harus diisi</p>-->
          <!--</div>-->
        </div>
        <div class="form-group" show-errors>
          <label class="col-md-2" for="mskk">M.S</label>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-4">
                <input id="mskk" name="mskk" ng-model="vm.medicalrecord.neurologic.mskk" placeholder="KK" class="form-control input-md" />
                <!--<div ng-messages="vm.form.medicalrecordForm.neurologic.mskk.$error" role="alert">-->
                  <!--<p class="help-block error-text" ng-message="required">M.S KK harus diisi</p>-->
                <!--</div>-->
              </div>
              <div class="col-md-4">
                <input id="msbr1" name="msbr1" ng-model="vm.medicalrecord.neurologic.msbr1" placeholder="BR I" class="form-control input-md" />
                <!--<div ng-messages="vm.form.medicalrecordForm.neurologic.msbr1.$error" role="alert">-->
                  <!--<p class="help-block error-text" ng-message="required">M.S BR I harus diisi</p>-->
                <!--</div>-->
              </div>
              <div class="col-md-4">
                <input id="msbr2" name="msbr2" ng-model="vm.medicalrecord.neurologic.msbr2" placeholder="BR II" class="form-control input-md" />
                <!--<div ng-messages="vm.form.medicalrecordForm.neurologic.msbr2.$error" role="alert">-->
                  <!--<p class="help-block error-text" ng-message="required">M.S BR II harus diisi</p>-->
                <!--</div>-->
              </div>
            </div>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="col-md-2" for="nnc">NN. Cranialis</label>
          <div class="col-md-8">
            <input id="nnc" name="nnc" ng-model="vm.medicalrecord.neurologic.nnc" placeholder="NN. Cranialis" class="form-control input-md" />
          </div>
          <!--<div ng-messages="vm.form.medicalrecordForm.neurologic.nnc.$error" role="alert">-->
            <!--<p class="help-block error-text" ng-message="required">NN. Cranialis harus diisi</p>-->
          <!--</div>-->
        </div>
        <div class="form-group" show-errors>
          <label class="col-md-2" for="motora">Motorik</label>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-3">
                <input id="motora" name="motora" type="number" min="-5" max="5" ng-model="vm.medicalrecord.neurologic.motor.a" class="form-control input-md" />
              </div>
              <div class="col-md-3">
                <input id="motorb" name="motorb" type="number" min="-5" max="5" ng-model="vm.medicalrecord.neurologic.motor.b" class="form-control input-md" />
              </div>
            </div>
            <div style="height: 10px"></div>
            <div class="row">
              <div class="col-md-3">
                <input id="motorc" name="motorc" type="number" min="-5" max="5" ng-model="vm.medicalrecord.neurologic.motor.c" class="form-control input-md" />
              </div>
              <div class="col-md-3">
                <input id="motord" name="motord" type="number" min="-5" max="5" ng-model="vm.medicalrecord.neurologic.motor.d" class="form-control input-md" />
              </div>
            </div>
          </div>
          <!--<div ng-messages="vm.form.medicalrecordForm.neurologic.motor.$error" role="alert">-->
            <!--<p class="help-block error-text" ng-message="required">Motorik harus diisi</p>-->
          <!--</div>-->
        </div>
        <div class="form-group" show-errors>
          <label class="col-md-2" for="sensoryval">Sensorik</label>
          <div class="col-md-2">
            <select class="form-control input-md" id="sensoryval" name="sensoryval" ng-model="vm.medicalrecord.neurologic.sensory.val" >
              <option value="par">PAR</option>
              <option value="hypo">HYPO</option>
              <option value="an">AN</option>
            </select>
          </div>
          <div ng-if="vm.medicalrecord.neurologic.sensory.val=='an'" class="col-md-4">
            <div class="row">
              <div class="col-md-3">
                <input id="sensorya" name="sensorya" type="number" min="-5" max="5" ng-model="vm.medicalrecord.neurologic.sensory.a" class="form-control input-md" />
              </div>
              <div class="col-md-3">
                <input id="sensoryb" name="sensoryb" type="number" min="-5" max="5" ng-model="vm.medicalrecord.neurologic.sensory.b" class="form-control input-md" />
              </div>
            </div>
            <div style="height: 10px"></div>
            <div class="row">
              <div class="col-md-3">
                <input id="sensoryc" name="sensoryc" type="number" min="-5" max="5" ng-model="vm.medicalrecord.neurologic.sensory.c" class="form-control input-md" />
              </div>
              <div class="col-md-3">
                <input id="sensoryd" name="sensoryd" type="number" min="-5" max="5" ng-model="vm.medicalrecord.neurologic.sensory.d" class="form-control input-md" />
              </div>
            </div>
          </div>
          <!--<div ng-messages="vm.form.medicalrecordForm.neurologic.sensoryval.$error" role="alert">-->
            <!--<p class="help-block error-text" ng-message="required">Sensorik harus diisi</p>-->
          <!--</div>-->
        </div>
        <div class="form-group" show-errors>
          <label class="col-md-2" for="bprleft">BPR</label>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-3">
                <input id="bprleft" name="bprleft" type="number" min="1" max="5" ng-model="vm.medicalrecord.neurologic.bpr.left" class="form-control input-md" />
              </div>
              <div class="col-md-3">
                <input id="bprright" name="bprright" type="number" min="1" max="5" ng-model="vm.medicalrecord.neurologic.bpr.right" class="form-control input-md" />
              </div>
            </div>
          </div>
          <!--<div ng-messages="vm.form.medicalrecordForm.neurologic.bpr.$error" role="alert">-->
            <!--<p class="help-block error-text" ng-message="required">BPR harus diisi</p>-->
          <!--</div>-->
        </div>
        <div class="form-group" show-errors>
          <label class="col-md-2" for="trrleft">TRR</label>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-3">
                <input id="trrleft" name="trrleft" type="number" min="1" max="5" ng-model="vm.medicalrecord.neurologic.trr.left" class="form-control input-md" />
              </div>
              <div class="col-md-3">
                <input id="trrright" name="trrright" type="number" min="1" max="5" ng-model="vm.medicalrecord.neurologic.trr.right" class="form-control input-md" />
              </div>
            </div>
          </div>
          <!--<div ng-messages="vm.form.medicalrecordForm.neurologic.trr.$error" role="alert">-->
            <!--<p class="help-block error-text" ng-message="required">TRR harus diisi</p>-->
          <!--</div>-->
        </div>
        <div class="form-group" show-errors>
          <label class="col-md-2" for="kprleft">KPR</label>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-3">
                <input id="kprleft" name="kprleft" type="number" min="1" max="5" ng-model="vm.medicalrecord.neurologic.kpr.left" class="form-control input-md" />
              </div>
              <div class="col-md-3">
                <input id="kprright" name="kprright" type="number" min="1" max="5" ng-model="vm.medicalrecord.neurologic.kpr.right" class="form-control input-md" />
              </div>
            </div>
          </div>
          <!--<div ng-messages="vm.form.medicalrecordForm.neurologic.kpr.$error" role="alert">-->
            <!--<p class="help-block error-text" ng-message="required">KPR harus diisi</p>-->
          <!--</div>-->
        </div>
        <div class="form-group" show-errors>
          <label class="col-md-2" for="aprleft">APR</label>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-3">
                <input id="aprleft" name="aprleft" type="number" min="1" max="5" ng-model="vm.medicalrecord.neurologic.apr.left" class="form-control input-md" />
              </div>
              <div class="col-md-3">
                <input id="aprright" name="aprright" type="number" min="1" max="5" ng-model="vm.medicalrecord.neurologic.apr.right" class="form-control input-md" />
              </div>
            </div>
          </div>
          <!--<div ng-messages="vm.form.medicalrecordForm.neurologic.apr.$error" role="alert">-->
            <!--<p class="help-block error-text" ng-message="required">APR harus diisi</p>-->
          <!--</div>-->
        </div>
        <div class="form-group" show-errors>
          <label class="col-md-2" for="rpht">RP</label>
          <div class="col-md-4">
            <div class="row">
              <label class="col-md-3" for="rpht">HT</label>
              <div class="col-md-3">
                <select class="form-control input-md"  style="font-size: larger; font-weight: bold;" id="rpht" name="rpht" ng-model="vm.medicalrecord.neurologic.rp.ht" >
                  <option value="-">-</option>
                  <option value="+">+</option>
                </select>
              </div>
            </div>
            <div style="height: 10px"></div>
            <div class="row">
              <label class="col-md-3" for="rpbab">BAB</label>
              <div class="col-md-3">
                <select class="form-control input-md" style="font-size: larger; font-weight: bold;" id="rpbab" name="rpbab" ng-model="vm.medicalrecord.neurologic.rp.bab" >
                  <option value="-">-</option>
                  <option value="+">+</option>
                </select>
              </div>
            </div>
          </div>
          <!--<div ng-messages="vm.form.medicalrecordForm.neurologic.rp.$error" role="alert">-->
            <!--<p class="help-block error-text" ng-message="required">RF harus diisi</p>-->
          <!--</div>-->
        </div>
        <div class="form-group" show-errors>
          <label class="col-md-2" for="autonomous">Otonom</label>
          <div class="col-md-4">
            <input id="autonomous" name="autonomous" ng-model="vm.medicalrecord.neurologic.autonomous" placeholder="Otonom" class="form-control input-md" />
          </div>
          <!--<div ng-messages="vm.form.medicalrecordForm.neurologic.autonomous.$error" role="alert">-->
            <!--<p class="help-block error-text" ng-message="required">Otonom harus diisi</p>-->
          <!--</div>-->
        </div>
        <div class="form-group" show-errors>
          <label class="col-md-2" for="cv">CV</label>
          <div class="col-md-4">
            <input id="cv" name="cv" ng-model="vm.medicalrecord.neurologic.cv" placeholder="CV" class="form-control input-md"/>
          </div>
          <!--<div ng-messages="vm.form.medicalrecordForm.neurologic.cv.$error" role="alert">-->
            <!--<p class="help-block error-text" ng-message="required">CV harus diisi</p>-->
          <!--</div>-->
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label"></label>
          <div class="col-md-8">
            <button type="submit" class="btn btn-primary">{{vm.medicalrecord._id ? 'Simpan' : 'Buat Rekam Medis'}}</button>
            <a ng-if="vm.medicalrecord._id" ui-sref="medicalrecords.view({medicalrecordId:vm.medicalrecord._id})">
              <button class="btn btn-danger">Batal</button>
            </a>
          </div>
        </div>
        <div ng-show="vm.error" class="text-danger text-center">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
