<section>
  <div class="page-header">
    <h1><small>{{vm.medicalrecord._id ? 'Rekam Medis' : 'Rekam Medis Baru'}}</small><br/>{{vm.medicalrecord.patient.name}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.medicalrecordForm" class="form-horizontal" ng-submit="vm.save(vm.form.medicalrecordForm.$valid)" novalidate>
      <fieldset>
        <legend>Status Interne Pasien</legend>
        <div class="form-group" show-errors>
          <label class="col-md-4 control-label" for="cor">Cor</label>
          <div class="col-md-4">
            <input id="cor" name="cor" ng-model="vm.medicalrecord.internus.cor" placeholder="COR" class="form-control input-md" required/>
          </div>
          <div ng-messages="vm.form.medicalrecordForm.internus.cor.$error" role="alert">
            <p class="help-block error-text" ng-message="required">COR harus diisi</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="col-md-4 control-label" for="abd">Abdomen</label>
          <div class="col-md-4">
            <input id="abd" name="abd" ng-model="vm.medicalrecord.internus.abd" placeholder="ABDOMEN" class="form-control input-md" required/>
          </div>
          <div ng-messages="vm.form.medicalrecordForm.internus.abd.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Abdomen harus diisi</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="col-md-4 control-label" for="pulmo">Pulmo</label>
          <div class="col-md-4">
            <input id="pulmo" name="pulmo" ng-model="vm.medicalrecord.internus.pulmo" placeholder="PULMO" class="form-control input-md" required/>
          </div>
          <div ng-messages="vm.form.medicalrecordForm.internus.pulmo.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Pulmo harus diisi</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="col-md-4 control-label" for="hepar">Hepar</label>
          <div class="col-md-4">
            <input id="hepar" name="hepar" ng-model="vm.medicalrecord.internus.hepar" placeholder="HEPAR" class="form-control input-md" required/>
          </div>
          <div ng-messages="vm.form.medicalrecordForm.internus.hepar.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Hepar harus diisi</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="col-md-4 control-label" for="lien">Lien</label>
          <div class="col-md-4">
            <input id="lien" name="lien" ng-model="vm.medicalrecord.internus.lien" placeholder="LIEN" class="form-control input-md" required/>
          </div>
          <div ng-messages="vm.form.medicalrecordForm.internus.lien.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Lien harus diisi</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label"></label>
          <div class="col-md-8">
            <button type="submit" class="btn btn-primary">{{vm.medicalrecord._id ? 'Simpan' : 'Buat Rekam Medis'}}</button>
            <a ng-if="vm.medicalrecord._id" ui-sref="medicalrecords.view({medicalrecordId:vm.medicalrecord._id})">
              <button class="btn btn-danger">Batal</button>
            </a>
          </div>
        </div>
        <div ng-show="vm.error" class="text-danger text-center">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
