<section>
  <div class="page-header">
    <h1><small>{{vm.medicalrecord._id ? 'Rekam Medis' : 'Rekam Medis Baru'}}</small><br/>{{vm.medicalrecord.patient.name}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.medicalrecordForm" class="form-horizontal" ng-submit="vm.save(vm.form.medicalrecordForm.$valid)" novalidate>
      <fieldset>
        <legend>SOAP Pasien</legend>
        <div class="form-group" show-errors>
          <label class="col-md-4 control-label" for="subjective">Subjective</label>
          <div class="col-md-4">
            <textarea id="subjective" name="subjective" ng-model="vm.medicalrecord.soap.subjective" placeholder="Subjective" class="form-control input-md" required></textarea>
          </div>
          <div ng-messages="vm.form.medicalrecordForm.soap.subjective.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Subjective</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="col-md-4 control-label" for="objective">Objective</label>
          <div class="col-md-4">
            <textarea id="objective" name="objective" ng-model="vm.medicalrecord.soap.objective" placeholder="Objective" class="form-control input-md" required></textarea>
          </div>
          <div ng-messages="vm.form.medicalrecordForm.soap.objective.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Objective</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="col-md-4 control-label" for="assessment">Assessment</label>
          <div class="col-md-4">
            <textarea id="assessment" name="assessment" ng-model="vm.medicalrecord.soap.assessment" placeholder="Assessment" class="form-control input-md" required></textarea>
          </div>
          <div ng-messages="vm.form.medicalrecordForm.soap.assessment.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Assessment</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="col-md-4 control-label" for="plan">Planning</label>
          <div class="col-md-4">
            <textarea id="plan" name="plan" ng-model="vm.medicalrecord.soap.plan" placeholder="Planning" class="form-control input-md" required></textarea>
          </div>
          <div ng-messages="vm.form.medicalrecordForm.soap.plan.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Plan</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label"></label>
          <div class="col-md-8">
            <button type="submit" class="btn btn-primary">{{vm.medicalrecord._id ? 'Simpan' : 'Buat Rekam Medis'}}</button>
            <a ng-if="vm.medicalrecord._id" ui-sref="medicalrecords.view({medicalrecordId:vm.medicalrecord._id})">
              <button class="btn btn-danger">Batal</button>
            </a>
          </div>
        </div>
        <div ng-show="vm.error" class="text-danger text-center">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
