<section>
  <div class="page-header">
    <h1><small>{{vm.medicalrecord._id ? 'Rekam Medis' : 'Rekam Medis Baru'}}</small><br/>{{vm.medicalrecord.patient.name}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.medicalrecordForm" class="form-horizontal" ng-submit="vm.save(vm.form.medicalrecordForm.$valid)" novalidate>
      <fieldset>
        <legend>Diagnosis Pasien</legend>
        <div class="form-group" show-errors>
          <label class="col-md-2 col-md-offset-2" for="clinical">Klinis</label>
          <div class="col-md-4">
            <textarea id="clinical" name="clinical" ng-model="vm.medicalrecord.diagnosis.clinical" placeholder="Klinis" class="form-control input-md" required></textarea>
          </div>
          <div ng-messages="vm.form.medicalrecordForm.diagnosis.clinical.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Isi dengan diagnosis klinis</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="col-md-2 col-md-offset-2" for="topical">Topis</label>
          <div class="col-md-4">
            <textarea id="topical" name="topical" ng-model="vm.medicalrecord.diagnosis.topical" placeholder="Topis" class="form-control input-md" required></textarea>
          </div>
          <div ng-messages="vm.form.medicalrecordForm.diagnosis.topical.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Isi dengan diagnosis topis</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="col-md-2 col-md-offset-2" for="etiological">Etio</label>
          <div class="col-md-4">
            <textarea id="etiological" name="etiological" ng-model="vm.medicalrecord.diagnosis.etiological" placeholder="Etio" class="form-control input-md" required></textarea>
          </div>
          <div ng-messages="vm.form.medicalrecordForm.diagnosis.etiological.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Isi dengan diagnosis etio</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="col-md-2 col-md-offset-2" for="therapy">Terapi</label>
          <div class="col-md-4">
            <textarea id="therapy" name="therapy" ng-model="vm.medicalrecord.diagnosis.therapy" placeholder="Terapi" class="form-control input-md" required></textarea>
          </div>
          <div ng-messages="vm.form.medicalrecordForm.diagnosis.therapy.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Isi dengan terapi untuk pasien</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="col-md-2 col-md-offset-2" for="control">Rencana Pemeriksaan / Kontrol</label>
          <div class="col-md-4">
            <textarea id="control" name="control" ng-model="vm.medicalrecord.diagnosis.control" placeholder="Rencana Pemeriksaan / Kontrol" class="form-control input-md" required></textarea>
          </div>
          <div ng-messages="vm.form.medicalrecordForm.diagnosis.control.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Isi dengan rencana pemeriksaan / kontrol pasien</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label"></label>
          <div class="col-md-8">
            <button type="submit" class="btn btn-primary">{{vm.medicalrecord._id ? 'Simpan' : 'Buat Rekam Medis'}}</button>
            <a ng-if="vm.medicalrecord._id" ui-sref="medicalrecords.view({medicalrecordId:vm.medicalrecord._id})">
              <button class="btn btn-danger">Batal</button>
            </a>
          </div>
        </div>
        <div ng-show="vm.error" class="text-danger text-center">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
