<section>
  <div class="page-header">
    <h5>Rekam Medis Pasien : <a href="#">{{vm.medicalrecord.patient.name}}</a></h5>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-5">
        <div class="row">
          <label class="col-md-4 text-right"><strong>Tanggal</strong></label>
          <label class="col-md-8" ng-bind="vm.medicalrecord.created | date:'dd MMM yyyy'"></label>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row">
          <label class="col-md-4 text-right"><strong>Petugas Medis</strong></label>
          <label class="col-md-8" ng-bind="vm.medicalrecord.medic.displayName"></label>
        </div>
        <div class="row">
          <label class="col-md-4 text-right"><strong>Dokter</strong></label>
          <label class="col-md-8" ng-bind="vm.medicalrecord.doctor.displayName"></label>
        </div>
      </div>
      <div class="col-md-2 input-group">
        <a class="btn btn-primary input-group-addon" ui-sref="patients.detail({patientId:vm.medicalrecord.patient._id})">
          <i class="glyphicon glyphicon-arrow-left"></i> Kembali
        </a>
      </div>
    </div>
  </div>
  <div style="height: 10px"></div>
  <uib-tabset active="active">
    <uib-tab index="0">
      <uib-tab-heading>
        <strong>Anamnesa</strong>
      </uib-tab-heading>
      <!--<h6>Data Anamnesa Pasien</h6>-->
      <!--<div class="col-md-11">-->
        <!--<div ng-if="vm.medicalrecord.anamnesis">-->
          <!--<div class="col-md-6">-->
            <!--<div class="row">-->
              <!--<label class="col-md-4 text-right"><strong>Keluhan Utama</strong></label>-->
              <!--<label class="col-md-8" ng-bind="vm.medicalrecord.anamnesis.complaint"></label>-->
            <!--</div>-->
            <!--<div class="row">-->
              <!--<label class="col-md-4 text-right"><strong>Riwayat keluhan</strong></label>-->
              <!--<label class="col-md-8" ng-bind="vm.medicalrecord.anamnesis.hocd"></label>-->
            <!--</div>-->
            <!--<div class="row">-->
              <!--<label class="col-md-4 text-right"><strong>Tensi</strong></label>-->
              <!--<label class="col-md-8" ng-bind="vm.medicalrecord.anamnesis.bpm.up+' / '+ vm.medicalrecord.anamnesis.bpm.down+' MmHg'"></label>-->
            <!--</div>-->
            <!--<div class="row">-->
              <!--<label class="col-md-4 text-right"><strong>Pernafasan</strong></label>-->
              <!--<label class="col-md-8" ng-bind="vm.medicalrecord.anamnesis.inhalation+' /Menit'"></label>-->
            <!--</div>-->
            <!--<div class="row">-->
              <!--<label class="col-md-4 text-right"><strong>Nadi</strong></label>-->
              <!--<label class="col-md-8" ng-bind="vm.medicalrecord.anamnesis.pulse+' /Menit'"></label>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-5">-->
            <!--<div class="row">-->
              <!--<label class="col-md-4 text-right"><strong>Suhu</strong></label>-->
              <!--<label class="col-md-8" ng-bind="vm.medicalrecord.anamnesis.temperature+' ºC'"></label>-->
            <!--</div>-->
            <!--<div class="row">-->
              <!--<label class="col-md-4 text-right"><strong>Tinggi Badan</strong></label>-->
              <!--<label class="col-md-8" ng-bind="vm.medicalrecord.anamnesis.bodyheight+' Cm'"></label>-->
            <!--</div>-->
            <!--<div class="row">-->
              <!--<label class="col-md-4 text-right"><strong>Berat Badan</strong></label>-->
              <!--<label class="col-md-8" ng-bind="vm.medicalrecord.anamnesis.bodyweight+' Kg'"></label>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-1 input-group">-->
        <!--<a class="btn btn-warning input-group-addon" ui-sref="medicalrecords.anamnesis({medicalrecordId:vm.medicalrecord._id})">-->
          <!--<i class="glyphicon glyphicon-edit"></i>-->
        <!--</a>-->
      <!--</div>-->
      <br/>
      <div class="col-md-12">
        <div class="panel panel-info">
          <!-- Default panel contents -->
          <div class="panel-heading pull-right col-md-12">
            <div class="row">
              <h3 class="panel-title col-md-12"><i class="glyphicon glyphicon-book"></i> Anamnesa Pasien</h3>
            </div>
            <div style="height: 10px"></div>
            <div class="row">
              <div class="col-md-9">
                <a ng-if="!vm.medicalrecord.anamnesis" class="btn btn-sm btn-primary" ui-sref="medicalrecords.anamnesis({medicalrecordId:vm.medicalrecord._id})" ><i class="glyphicon glyphicon-plus"></i> Anamnesa</a>
              </div>
              <div class="col-md-3">
                <div class="input-group">
                  <input type="text" class="form-control input-sm" placeholder="cari anamnesa" aria-describedby="basic-addon2" ng-model="vm.search" ng-change="vm.figureOutItemsToDisplay()">
                  <span class="input-group-addon input-sm" id="basic-addon2"><span class="glyphicon glyphicon-search"></span></span>
                </div>
              </div>
            </div>
          </div>
          <!-- Table -->
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Tanggal</th>
              <th>Pukul</th>
              <th>Keluhan</th>
              <th>Tensi</th>
              <th>Pernafasan</th>
              <th>Nadi</th>
              <th>Suhu</th>
              <th>Tinggi / Berat Badan</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-if="vm.medicalrecords" ng-repeat="medicalrecord in vm.pagedItems |orderBy:'-created'">
              <td ng-bind="medicalrecord.created | date:'d MMM yy' "></td>
              <td ng-bind="medicalrecord.created | date:'H:m' "></td>
              <td ng-bind="medicalrecord.anamnesis.complaint" class="small"></td>
              <td ng-bind="medicalrecord.anamnesis.bpmup+' / '+ vm.medicalrecord.anamnesis.bpmdown+' MmHg'" class="small"></td>
              <td ng-bind="medicalrecord.anamnesis.inhalation+' /Menit'" class="small"></td>
              <td ng-bind="medicalrecord.anamnesis.pulse+' /Menit'" class="small"></td>
              <td ng-bind="medicalrecord.anamnesis.temperature+' ºC'" class="small"></td>
              <td ng-bind="medicalrecord.anamnesis.bodyheight+' Cm / '+medicalrecord.anamnesis.bodyheight+' Kg'" class="small"></td>
              <td>
                <div ng-if="vm.medicalrecord._id === medicalrecord._id" class="btn-group">
                  <a class="btn btn-sm btn-info" ui-sref="medicalrecords.anamnesis({medicalrecordId:medicalrecord._id})">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </a>
                </div>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <tr ng-if="vm.medicalrecords.length==0">
              <td colspan="9" class="alert alert-warning text-center">
                Tidak ada riwayat medis, lakukan pemeriksaan medis pasien <a ui-sref="queues.create({ patientId: vm.patient._id })">disini</a>
              </td>
            </tr>
            <tr>
              <td colspan="9">
                <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </uib-tab>
    <uib-tab index="1">
      <uib-tab-heading>
        <strong>Pemeriksaan Fisik</strong>
      </uib-tab-heading>
      <div class="row">
        <div class="col-md-4">
          <h6>Status Interne</h6>
          <div class="col-md-10">
            <div ng-if="vm.medicalrecord.internus">
              <div class="row">
                <label class="col-md-4 text-right"><strong>COR</strong></label>
                <label class="col-md-8" ng-bind="vm.medicalrecord.internus.cor"></label>
              </div>
              <div class="row">
                <label class="col-md-4 text-right"><strong>ABD</strong></label>
                <label class="col-md-8" ng-bind="vm.medicalrecord.internus.abd"></label>
              </div>
              <div class="row">
                <label class="col-md-4 text-right"><strong>PULMO</strong></label>
                <label class="col-md-8" ng-bind="vm.medicalrecord.internus.pulmo"></label>
              </div>
              <div class="row">
                <label class="col-md-4 text-right"><strong>HEPAR</strong></label>
                <label class="col-md-8" ng-bind="vm.medicalrecord.internus.hepar"></label>
              </div>
              <div class="row">
                <label class="col-md-4 text-right"><strong>LIEN</strong></label>
                <label class="col-md-8" ng-bind="vm.medicalrecord.internus.lien"></label>
              </div>
            </div>
          </div>
          <div class="col-md-2 input-group">
            <a class="btn btn-warning input-group-addon" ui-sref="medicalrecords.internus({medicalrecordId:vm.medicalrecord._id})">
              <i class="glyphicon glyphicon-edit"></i>
            </a>
          </div>
        </div>
        <div class="col-md-8">
          <h6>Status Neurologikal</h6>
          <div class="col-md-11">
            <div ng-if="vm.medicalrecord.neurologic">
              <div class="row">
                <label class="col-md-3 text-right"><strong>Kesadaran CGS</strong></label>
                <label class="col-md-2" ng-bind="vm.medicalrecord.neurologic.cgs"></label>
              </div>
              <div class="row">
                <label class="col-md-2 text-right"><strong>M.S</strong></label>
                <label class="col-md-1 text-right"><strong>KK</strong></label>
                <label class="col-md-1" ng-bind="vm.medicalrecord.neurologic.mskk"></label>
                <label class="col-md-2 text-right"><strong>BR I</strong></label>
                <label class="col-md-1" ng-bind="vm.medicalrecord.neurologic.msbr1"></label>
                <label class="col-md-2 text-right"><strong>BR II</strong></label>
                <label class="col-md-1" ng-bind="vm.medicalrecord.neurologic.msbr2"></label>
              </div>
              <div class="row">
                <label class="col-md-3 text-right"><strong>NN. Cranialis</strong></label>
                <label class="col-md-9" ng-bind="vm.medicalrecord.neurologic.nnc"></label>
              </div>
              <div class="row">
                <label class="col-md-3 text-right"><strong>Motorik</strong></label>
                <table class="col-md-2 text-center" border="1">
                  <tr>
                    <td class="col-md-6" ng-bind="vm.medicalrecord.neurologic.motora"></td><td class="col-md-6" ng-bind="vm.medicalrecord.neurologic.motorb"></td>
                  </tr>
                  <tr>
                    <td class="col-md-6" ng-bind="vm.medicalrecord.neurologic.motorc"></td><td class="col-md-6" ng-bind="vm.medicalrecord.neurologic.motord"></td>
                  </tr>
                </table>
              </div>
              <div class="row">
                <label class="col-md-3 text-right"><strong>Sensorik</strong></label>
                <label class="col-md-3" ng-bind="vm.medicalrecord.neurologic.sensoryval.toUpperCase()"></label>
                <table ng-show="vm.medicalrecord.neurologic.sensorya" class="col-md-2 text-center" border="1">
                  <tr>
                    <td class="col-md-6" ng-bind="vm.medicalrecord.neurologic.sensorya"></td><td class="col-md-6" ng-bind="vm.medicalrecord.neurologic.sensoryb"></td>
                  </tr>
                  <tr>
                    <td class="col-md-6" ng-bind="vm.medicalrecord.neurologic.sensoryc"></td><td class="col-md-6" ng-bind="vm.medicalrecord.neurologic.sensoryd"></td>
                  </tr>
                </table>
              </div>
              <div class="row">
                <label class="col-md-3 text-right"><strong>BPR</strong></label>
                <table class="col-md-2 text-center" border="1">
                  <tr>
                    <td class="col-md-6" ng-bind="vm.medicalrecord.neurologic.bprleft"></td><td class="col-md-6" ng-bind="vm.medicalrecord.neurologic.bprright"></td>
                  </tr>
                </table>
              </div>
              <div class="row">
                <label class="col-md-3 text-right"><strong>TRR</strong></label>
                <table class="col-md-2 text-center" border="1">
                  <tr>
                    <td class="col-md-6" ng-bind="vm.medicalrecord.neurologic.trrleft"></td><td class="col-md-6" ng-bind="vm.medicalrecord.neurologic.trrright"></td>
                  </tr>
                </table>
              </div>
              <div class="row">
                <label class="col-md-3 text-right"><strong>KPR</strong></label>
                <table class="col-md-2 text-center" border="1">
                  <tr>
                    <td class="col-md-6" ng-bind="vm.medicalrecord.neurologic.kprleft"></td><td class="col-md-6" ng-bind="vm.medicalrecord.neurologic.kprright"></td>
                  </tr>
                </table>
              </div>
              <div class="row">
                <label class="col-md-3 text-right"><strong>APR</strong></label>
                <table class="col-md-2 text-center" border="1">
                  <tr>
                    <td class="col-md-6" ng-bind="vm.medicalrecord.neurologic.aprleft"></td><td class="col-md-6" ng-bind="vm.medicalrecord.neurologic.aprright"></td>
                  </tr>
                </table>
              </div>
              <div class="row">
                <label class="col-md-3 text-right"><strong>RP</strong></label>
                <label class="col-md-1 text-center">HT</label>
                <label class="col-md-1 text-center"><strong>{{vm.medicalrecord.neurologic.rpht}}</strong></label>
              </div>
              <div class="row">
                <label class="col-md-offset-3 col-md-1 text-center">BAB</label>
                <label class="col-md-1 text-center"><strong>{{vm.medicalrecord.neurologic.rpbab}}</strong></label>
              </div>

              <div class="row">
                <label class="col-md-3 text-right"><strong>Otonom</strong></label>
                <label class="col-md-2" ng-bind="vm.medicalrecord.neurologic.autonomous"></label>
                <label class="col-md-1 text-right"><strong>CV</strong></label>
                <label class="col-md-6" ng-bind="vm.medicalrecord.neurologic.cv"></label>
              </div>
            </div>
          </div>
          <div class="col-md-1 input-group">
            <a class="btn btn-warning input-group-addon" ui-sref="medicalrecords.neurologic({medicalrecordId:vm.medicalrecord._id})">
              <i class="glyphicon glyphicon-edit"></i>
            </a>
          </div>
        </div>
      </div>
    </uib-tab>
    <uib-tab index="2">
      <uib-tab-heading>
        <strong>Diagnosis</strong>
      </uib-tab-heading>
      <h6>Data Diagnosis</h6>
      <div class="col-md-11">
        <div ng-if="vm.medicalrecord.diagnosis">
          <div class="col-md-12">
            <div class="row">
              <label class="col-md-4 text-right"><strong>Klinis</strong></label>
              <label class="col-md-8" ng-bind="vm.medicalrecord.diagnosis.clinical"></label>
            </div>
            <div class="row">
              <label class="col-md-4 text-right"><strong>Topis</strong></label>
              <label class="col-md-8" ng-bind="vm.medicalrecord.diagnosis.topical"></label>
            </div>
            <div class="row">
              <label class="col-md-4 text-right"><strong>Etio</strong></label>
              <label class="col-md-8" ng-bind="vm.medicalrecord.diagnosis.etiological"></label>
            </div>
            <div class="row">
              <label class="col-md-4 text-right"><strong>Terapy</strong></label>
              <label class="col-md-8" ng-bind="vm.medicalrecord.diagnosis.therapy"></label>
            </div>
            <div class="row">
              <label class="col-md-4 text-right"><strong>Rencana Pemeriksaan / Kontrol</strong></label>
              <label class="col-md-8" ng-bind="vm.medicalrecord.diagnosis.control"></label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1 input-group">
        <a class="btn btn-warning input-group-addon" ui-sref="medicalrecords.diagnosis({medicalrecordId:vm.medicalrecord._id})">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
      </div>
    </uib-tab>
    <uib-tab index="3">
      <uib-tab-heading>
        <strong>SOAP</strong>
      </uib-tab-heading>
      <!--<h6>SOAP Pasien</h6>-->
      <!--<div class="col-md-11">-->
        <!--<div ng-if="vm.medicalrecord.soap">-->
          <!--<div class="col-md-12">-->
            <!--<div class="row">-->
              <!--<label class="col-md-4 text-right"><strong>Subjektif</strong></label>-->
              <!--<label class="col-md-8" ng-bind="vm.medicalrecord.soap.subjective"></label>-->
            <!--</div>-->
            <!--<div class="row">-->
              <!--<label class="col-md-4 text-right"><strong>Objektif</strong></label>-->
              <!--<label class="col-md-8" ng-bind="vm.medicalrecord.soap.objective"></label>-->
            <!--</div>-->
            <!--<div class="row">-->
              <!--<label class="col-md-4 text-right"><strong>Penilaian</strong></label>-->
              <!--<label class="col-md-8" ng-bind="vm.medicalrecord.soap.assessment"></label>-->
            <!--</div>-->
            <!--<div class="row">-->
              <!--<label class="col-md-4 text-right"><strong>Perencanaan</strong></label>-->
              <!--<label class="col-md-8" ng-bind="vm.medicalrecord.soap.plan"></label>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-1 input-group">-->
      <!--<a class="btn btn-warning input-group-addon" ui-sref="medicalrecords.soap({medicalrecordId:vm.medicalrecord._id})">-->
      <!--<i class="glyphicon glyphicon-edit"></i>-->
      <!--</a>-->
      <!--</div>-->
      <br/>
      <div class="col-md-12">
        <div class="panel panel-info">
          <!-- Default panel contents -->
          <div class="panel-heading pull-right col-md-12">
            <div class="row">
              <h3 class="panel-title col-md-12"><i class="glyphicon glyphicon-book"></i> SOAP Pasien</h3>
            </div>
            <div style="height: 10px"></div>
            <div class="row">
              <div class="col-md-9">
                <a ng-if="!vm.medicalrecord.soap" class="btn btn-sm btn-primary" ui-sref="medicalrecords.soap({medicalrecordId:vm.medicalrecord._id})" ><i class="glyphicon glyphicon-plus"></i> SOAP</a>
              </div>
              <div class="col-md-3">
                <div class="input-group">
                  <input type="text" class="form-control input-sm" placeholder="cari soap" aria-describedby="basic-addon2" ng-model="vm.search" ng-change="vm.figureOutItemsToDisplay()">
                  <span class="input-group-addon input-sm" id="basic-addon2"><span class="glyphicon glyphicon-search"></span></span>
                </div>
              </div>
            </div>
          </div>
          <!-- Table -->
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Tanggal</th>
              <th>Pukul</th>
              <th>Subjective</th>
              <th>Objective</th>
              <th>Assessment</th>
              <th>Planning</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-if="vm.medicalrecords" ng-repeat="medicalrecord in vm.pagedItems | filter:{soap:{subjective:''}} |orderBy:'-created'">
              <td ng-bind="medicalrecord.created | date:'d MMM yy' "></td>
              <td ng-bind="medicalrecord.created | date:'H:m' "></td>
              <td ng-bind="medicalrecord.soap.subjective" class="small"></td>
              <td ng-bind="medicalrecord.soap.objective" class="small"></td>
              <td ng-bind="medicalrecord.soap.assessment" class="small"></td>
              <td ng-bind="medicalrecord.soap.plan" class="small"></td>
              <td>
                <div ng-if="vm.medicalrecord._id === medicalrecord._id" class="btn-group">
                  <a class="btn btn-sm btn-info" ui-sref="medicalrecords.soap({medicalrecordId:medicalrecord._id})">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </a>
                </div>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <tr ng-if="vm.medicalrecords.length==0">
              <td colspan="8" class="alert alert-warning text-center">
                Tidak ada riwayat medis, lakukan pemeriksaan medis pasien <a ui-sref="queues.create({ patientId: vm.patient._id })">disini</a>
              </td>
            </tr>
            <tr>
              <td colspan="8">
                <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
</section>
